body{
  background-color: #443e3e;
}
.intro{
  font-size: 50px;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}
.intro h1, h5,h6{
  right: 10%
}

.pic{
  margin-top: 0;
  height: 800px;
}
.pic img{
  top: 0px;

  position: absolute;
  right: 0px;
  height: 100%;
}
header{
  width: 1000px;
}
nav{
  width: auto;
  margin-left: 10;
}

nav ul{

  right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

nav li{
  margin-left: 70px;
  padding-top: 20px;
  display: inline-block;
  position: relative;
}
nav li a{
  color: #aba7a7;
  font-style: normal;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-transform: capitalize;
}

nav li a:hover{
  color: #ffffff;
  font-family: 'Dosis', sans-serif;
  transition: 0.5s;
}
nav li a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 0.5s;
}
nav li a:hover::before{
  width: 100%;
}
#container{
  height: auto;
}
.about {
  font-size: 37px;
  left: 200px;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  display: inline-block;
}
.about h3{
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-color: #3a9ad2;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

}
.about h2{
  font-family: 'Lato', sans-serif;
}
.about p{
  border-left: 5px;
  border-color: #76b4db;
  font-size: 30px;
  text-align: justify;
  margin: 150px;
  height: 400px;
}

.projects{
  margin: 150px;
}
.projects h2{
  font-family: 'Quantico', sans-serif;
  font-size: 4em;
  color: #bd31f9;
}
.projects ul{
  list-style-type: none;

  font-size: 2em;
  color: #ffffff;
}
.projects ul li{
  font-family: 'Poiret One', cursive;
  margin-top: 10px;

  text-align: justify;
}
/*shadow partis for animation of the box*/
.shadow{
  position: relative;
  margin: 100px auto 0;
  width: auto;
  height: auto;
  background: linear-gradient(0deg,#000,#262626);

}
.shadow:before, .shadow:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg,#fb0094,#0000ff,#ffff00,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#ffff00,#00ff00,#ffff00,#ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;

}
.shadow:after{
  filter: blur(20px);
}

@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.contact{
    margin-left: 250px;
}
.contact h2{
  font-size: 3em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: lighter;
  color: #fff;
  left: 100px;
  padding-top: 50px;
  margin-bottom: 0;
}

.contact ul li {
  list-style: none;
  margin: 50px;
  width: 80px;
  height: 80px;
  display: inline-block;
  justify-content: center;
  text-align: center;
}
.contact ul li {
  display: inline-block;
  margin: center;
}
.contact ul li a{
  text-align: center;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #d0d2d3;
  transition: all ease 0.5s;
  transform-origin: left;
  transform: rotateY(-30deg);

}
.contact ul li a:hover{

  transform: rotateY(0deg);

}
.linked:hover {
  color: #0077B5;
}
.twit:hover{
  color: #00aced;
}
.github:hover{
  color: #fFfFfF;
}
.med:hover{
  color: #00ab6c;
}
.goog:hover{
  color: #dd4b39;
}
.utube:hover{
  color: #FF0000;
}


#top{
  position: sticky;
  bottom: 0;
  right: 0;
  width: 50px;
}
#top img{
  height: 50px;
  widows: 50px;
}
